<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ecom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item ngbDropdown ">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
                Product
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="product-list" ngbDropdownItem>Product List</a>
                <a href="product-create" ngbDropdownItem>Product Create</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ngbDropdown ">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
                Order
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="order" ngbDropdownItem>OrderList</a>
                <a href="order-status" ngbDropdownItem>Order Status</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>